<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1>Cocktail</h1>
  <div>

  <%= link_to "Add cocktail",
    new_cocktail_path,
    class: "btn-medium"%>

  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-lg-4">
        <div class="card mt-3" style="width: 20rem;">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 250, crop: :fill %>
          <% else %>
            <div style="height: 250px; display: flex; justify-content: center; align-items: center">
              <div style="text-align: center;">
                <p>Think about adding a picture</p>
                <%= image_tag 'logo.jpeg', class: "avatar" %>
              </div>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <p class="card-text">Lorem ipsum</p>
            <%= link_to "See details", cocktail_path(cocktail), class: "btn-medium mr-3"%>
            <%= link_to cocktail_path(cocktail),
              method: :delete,
              data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

